@page "/"
@using System.Diagnostics
@using System.Reflection
@using System.Text
@using LinqSharp
@using RoslynOnline.Extensions

<PageTitle>Home</PageTitle>

<script>
    const worker = new Worker('worker.js');

    async function hello() {
        const output = await DotNet.invokeMethodAsync('RoslynOnline', 'PrintVersion');
        alert(output);
    }

    async function initDb2() {
        const output = await DotNet.invokeMethodAsync('RoslynOnline', 'InitDb');
        alert(output);
    }

    async function initDb() {
        worker.postMessage(DotNet);
        console.log("Message posted to worker");
    }

    worker.onmessage = function(e) {
        console.log('result of the worker', e.data);
    }
</script>

<div style="width:100%">
    <div>
        <button class="btn" @onclick="Run">Run</button>
        <button class="btn" @onclick="PrintCode">Print Code</button>
        <button class="btn" @onclick="Read">Read Snippet</button>
        <button class="btn" onclick="hello()"> Version </button>
        <button class="btn" onclick="initDb()"> Version </button>
    </div>
    <div id="@CodePanel" style="width:80%;height:600px;border:1px solid grey"></div>
    <textarea @bind="Output"
              id="output"
              style="height:200px;width:1024px" />
    <div>
        The final compilation task completed in @ElapsedSeconds seconds.
    </div>
</div>

@code {
    const string CodePanel = "code-panel";
    const string DefaultLanguage = "csharp";

    string Sql = "";
    string Output = "";
    double ElapsedSeconds = 0;

    [Inject] private HttpClient Client { get; set; }
    [Inject] private Monaco Monaco { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
            Compiler.InitializeMetadataReferences(Client);
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Monaco.Initialize(CodePanel, "", DefaultLanguage);
            await Read();
        }
    }

    [JSInvokable]
    public static string PrintVersion()
    {
        return "v1.0";
    }

    [JSInvokable]
    public static bool InitDb()
    {
        using (var context = new NorthwndSqliteContext())
        {
            if (context.Database.EnsureCreated())
            {
                context.InitializeNorthwnd(new(false));
            }
        }
        return true;
    }

    public async Task Run()
    {
        using (var context = new NorthwndSqliteContext())
        {
        }

        await Compiler.ReadyToRun(async () =>
        {
            Console.WriteLine("Compiling and Running code");
            var finalCode = ComleteCode(Monaco.GetCode(CodePanel));
            var result = await RunCodeAsync(finalCode);
            Output = result.Output;
            ElapsedSeconds = Math.Round((double)result.ElapsedMilliseconds / 1000, 1);
            Console.WriteLine((string)("Done in " + result.ElapsedMilliseconds + "ms"));
        });
    }

    public async Task PrintCode()
    {
        await Task.Run(() =>
        {
            Output = ComleteCode(Monaco.GetCode(CodePanel));
        });
    }

    public async Task Read()
    {
        await Client.GetAsync("snippet/Search.txt").ContinueWith(async (task) =>
        {
            var code = await task.Result.Content.ReadAsStringAsync();
            Monaco.SetCode(CodePanel, code);
        });
    }

    public class RunResult
    {
        public string? Output { get; set; }
        public long ElapsedMilliseconds { get; set; }
    }

    private static string ComleteCode(string code)
    {
        return $@"{CodeTemplate.ImplicitUsings}
using System.Collections;
using RoslynOnline;
using LinqSharp;
using Microsoft.EntityFrameworkCore;

var context = new NorthwndSqliteContext();
var Categories = context.Categories;
dynamic exp = {code};
if (exp is string)
{{
    Ink.Echo.Line(exp);
}}
else if (exp is IQueryable)
{{
    Ink.Echo.Table(exp);
}}
else if (exp is IEnumerable)
{{
    Ink.Echo.Table(exp);
}}
else
{{
    Ink.Echo.Table(exp.ToString());
}}
";
    }

    public async Task<RunResult> RunCodeAsync(string code)
    {
        var output = "";
        var watch = new Stopwatch();

        var currentOut = Console.Out;
        using (var writer = new StringWriter())
        {
            Console.SetOut(writer);

            Exception? exception = null;
            try
            {
                watch.Start();
                var (success, asm) = Compiler.LoadSource(code);
                if (success)
                {
                    var entry = asm.GetEntryMethod();
                    var errorCode = entry.Invoke(null, entry.GetParameters().Length > 0 ? new object[] { new string[0] } : null);
                    if (errorCode is Task t)
                    {
                        await t;
                    }
                }
            }
            catch (Exception ex)
            {
                exception = ex;
            }

            output += writer.ToString();
            if (exception is not null)
            {
                output += "\r\n" + exception.ToString();
            }
            watch.Stop();
        }
        Console.SetOut(currentOut);

        return new()
        {
            Output = output.ToString(),
            ElapsedMilliseconds = watch.ElapsedMilliseconds,
        };
    }
}